<.form let={f} for={:number_of_products} phx-change="change_number_of_products" >
  <%= label f, :number_of_products %>
  <%= select f, :number, [10, 25, 50, 100] %>
</.form>
<table>
  <%= for {row_number, row_data} <- @rows do %>
    <tr data-role={"row-number-#{row_number}"}>
      <%= for product <- row_data.entries do %>
        <.product_card product={product} />
      <% end %>
    </tr>
  <% end %>
</table>
